/* Header style controls white band on top**** */
.header {
  display: flex;
  font-size: xx-large;
  font-size: small;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 0px;
}
/* Controls the links on the headers so it hoovers and transition effect */
a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  transition: 0.3s;
  padding-right: 6px;
}
a:hover {
  font-size: 2.4em;
}

.header2 {
  flex: 1;
}
.header3 {
  flex: 2;
  text-align: end;
  padding-right: 20px;
}
/* controls the weather icon */
img {
  background-color: white;
  padding: 1.5em;
  margin: 20px;
  border-radius: 50%;
  border-width: 10px;
}
/* controls the main container for the title, input, and submit button */
.container_front {
  position: relative;
  top: -60px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url("PICS/homePage.jpeg");
  padding-bottom: 0px;
  margin-bottom: 0em;
}

.span {
  color: white;
  font-size: 15px;
}
/* sets the background and margins */
.body {
  background-color: white;
  margin: 0em;
}

p {
  color: white;
  font-size: 15px;
}
/* position of content in the main container */
aside {
  position: relative;
  top: 50px;
  left: 50px;
}
/* card settings and position */
.card {
  display: flex;
  position: absolute;
  top: 77vh;
  left: 0;
  border: solid black 1px;
  min-width: 100%;
  min-height: 70vh;
  background-size: cover;
  padding-top: 0vh;
}

.inquiry {
  font-size: 25px;
  flex-wrap: wrap;
  margin-right: 1em;
}
/* input field */
.city {
  height: 4vh;
  width: 40vw;
  font-size: 1.4em;
}
/* submit button */
.button {
  height: 4.9vh;
  width: 28vw;
  font-size: 1.4em;
}
.temperature {
  position: absolute;
  top: 20vh;
  left: 20vw;
  border: 2px;
}

.closebutton {
  position: absolute;
  top: 2vh;
  left: 92vw;
}
ul {
  position: absolute;
  top: 37vh;
  left: 0;
  color: white;
  font-size: 1.35em;
  line-height: 40px;
}

.contactUs {
  position: relative;
  top: -40px;
  left: -7px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url("PICS/ContacUsPic.jpg");
  padding-bottom: 0px;
  margin-bottom: 0em;
}

.about {
  position: relative;
  top: -40px;
  left: -7px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url("PICS/aboutPic.webp");
  padding-bottom: 0px;
  margin-bottom: 0em;
}

.aboutHeader {
  position: relative;
  top: 5vh;
  left: 15px;
  font-size: 40px;
}

.aboutContent {
  position: relative;
  top: 10vh;
  left: 15px;
  font-size: 25px;
  flex-wrap: wrap;
  margin-right: 1em;
}

.iconHolder {
  position: relative;
  top: 1vh;
  left: 1vw;
  font-size: 25px;
  color: white;
}
.beerMessage {
  position: absolute;
  top: 30vh;
  left: 0;
  color: white;
  font-size: 1.35em;
  line-height: 40px;
}

.notFound {
  font-size: 25px;
  flex-wrap: wrap;
  margin-right: 1em;
}
